body {
    background-color: rgb(175, 230, 248);
    color: rgb(107, 11, 107);
}

div {
    margin-top: 1ch;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2ch;
}

ul {
    list-style: none;
}

li {
    /*height: 10ch;*/
}